/* Le footer sera fixé en bas de la page */
body, html {
  height: 100%;
  margin: 0;
}

.subfooter {
  background: #2a2a37;
  padding: 18px 0;
  position: sticky; /* Reste fixé */
  bottom: 0; /* S'assure qu'il reste en bas */
  left: 0;
  width: 100%;
  z-index: 1000; /* Assure qu'il est au-dessus des autres éléments */
}

.subfooter .copyright-text p {
  font-family: "Montserrat", sans-serif;
}

.subfooter .copyright-text p a {
  color: #ff6600;
}

@media (max-width: 480px) {
  .subfooter .copyright-text {
    text-align: center;
  }
}

.subfooter .to-top {
  display: block;
  height: 45px;
  width: 45px;
  text-align: center;
  background: #ff6600;
  float: right;
}

.subfooter .to-top i {
  font-size: 1.5rem;
  color: #fff;
  line-height: 45px;
}

@media (max-width: 480px) {
  .subfooter .to-top {
    float: none;
    margin: auto;
    margin-top: 30px;
  }
}
