<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">EventArtistApp</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link" routerLink="/events">Événements</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/artists">Artistes</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/addArtist">Ajouter un artiste</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/addEvent">Ajouter un event</a></li>
        </ul>
      </div>
    </div>
  </nav>
  