
<!--============================
=            Banner            =
=============================-->

<section class="banner bg-banner-one overlay">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- Content Block -->
        <div class="block">
          <!-- Coundown Timer -->
          <div class="timer"></div>
          <h1>Business</h1>
          <h2>Conference 2017</h2>
          <h6>02-05 July 2017 California</h6>
          <!-- Action Button -->
          <a href="#" class="btn btn-white-md">get ticket now</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!--====  End of Banner  ====-->

<!--===========================
=            About            =
============================-->

<section class="section about">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 align-self-center">
        <div class="image-block bg-about">
          <img class="img-fluid" src="" alt="">
        </div>
      </div>
      <div class="col-lg-8 col-md-6 align-self-center">
        <div class="content-block">
          <h2>About The <span class="alternate">Eventre</span></h2>
          <div class="description-one">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm tempor incididunt ut labore dolore magna aliqua enim ad minim veniam quis nostrud exercitation ullamco.
            </p>
          </div>
          <div class="description-two">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmtempor incididunt ut labore et dolore magna aliq enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>
          </div>
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="#" class="btn btn-main-md">Buy ticket</a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="btn btn-transparent-md">Read more</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!--====  End of About  ====-->
<!--==================================
=            Registration            =
===================================-->

<section class="registration">
  <div class="container-fuild p-0">
    <div class="row">
      <div class="col-lg-6 col-md-12 p-0">
        <div class="service-block bg-service overlay-primary text-center">
          <div class="row no-gutters">
            <div class="col-6">
              <!-- Service item -->
              <div class="service-item">
                <i class="fa fa-microphone"></i>
                <h5>8 Speakers</h5>
              </div>
            </div>
            <div class="col-6">
              <!-- Service item -->
              <div class="service-item">
                <i class="fa fa-flag"></i>
                <h5>500 + Seats</h5>
              </div>
            </div>
            <div class="col-6">
              <!-- Service item -->
              <div class="service-item">
                <i class="fa fa-ticket"></i>
                <h5>300 tickets</h5>
              </div>
            </div>
            <div class="col-6">
              <!-- Service item -->
              <div class="service-item">
                <i class="fa fa-calendar"></i>
                <h5>3 days event</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 p-0">
        <div class="registration-block bg-registration overlay-dark">
          <div class="block">
            <div class="title text-left">
              <h3>Register to <span class="alternate">Eventre</span></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            </div>
            <form action="#" class="row">
              <div class="col-md-6">
                <input type="text" class="form-control main" placeholder="Your Name">
              </div>
              <div class="col-md-6">
                <input type="email" class="form-control main" placeholder="Email">
              </div>
              <div class="col-md-6">
                <input type="text" class="form-control main" placeholder="Phone">
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <select class="form-control main" id="select-ticket">
                    <option>Ticket Type</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-white-md">Register Now</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--====  End of Registration  ====-->

<!--==============================================
=            Call to Action Subscribe            =
===============================================-->

<section class="cta-subscribe bg-subscribe overlay-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mr-auto">
        <!-- Subscribe Content -->
        <div class="content">
          <h3>Subscribe to Our <span class="alternate">Newsletter</span></h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusm tempor</p>
        </div>
      </div>
      <div class="col-md-6 ml-auto align-self-center">
        <!-- Subscription form -->
        <form action="#" class="row">
          <div class="col-lg-8 col-md-12">
            <input type="email" class="form-control main white mb-lg-0" placeholder="Email">
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="subscribe-button">
              <button class="btn btn-main-md">Subscribe</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!--====  End of Call to Action Subscribe  ====-->

<!--================================
=            Google Map            =
=================================-->

<section class="map">
  <!-- Google Map -->
  <div id="map"></div>
  <div class="address-block">
    <h4>Docklands Convention</h4>
    <ul class="address-list p-0 m-0">
      <li><i class="fa fa-home"></i><span>1201 Park Street, Fifth Avenue, <br>Dhanmondy, Dhaka.</span></li>
      <li><i class="fa fa-phone"></i><span>[88] 657 524 332</span></li>
    </ul>
    <a href="#" class="btn btn-white-md">Get Direction</a>
  </div>
</section>

<!--====  End of Google Map  ====-->


