
.artist-card {
  border-radius: 12px;
  background-color: #fff; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.artist-card:hover {
  transform: translateY(-5px); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); 
}

.artist-card .card-body {
  padding: 10px;
}

.artist-card .card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.artist-card hr {
  border-top: 1px solid #f0f0f0;
  margin: 15px 0;
}

.artist-card .btn {
  border-radius: 30px;
  font-weight: 600;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.artist-card .btn-primary {
  background-color: #007bff;
  border: none;
}

.artist-card .btn-danger {
  background-color: #dc3545;
  border: none;
}

.artist-card .btn:hover {
  transform: scale(1.05);
}

.artist-card .btn-primary:hover {
  background-color: #0056b3;
}

.artist-card .btn-danger:hover {
  background-color: #c82333;
}

.card-header button {
  font-size: 1rem;
  font-weight: 500;
  color: #007bff;
  text-decoration: none;
  background: none;
  border: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card-header button:hover {
  text-decoration: underline;
}

.card-body ul {
  list-style-type: none;
  padding-left: 20px;
}

.card-body ul li {
  font-size: 0.95rem;
  color: #555;
  margin-bottom: 5px;
}

.card-body ul li:last-child {
  margin-bottom: 0;
}

.search-input {
  border-radius: 20px;
  padding-left: 20px;
  border: 1px solid #ddd;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


.page-item .page-link:hover {
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s ease;
}

.page-item.disabled .page-link {
  color: #ccc;
}
