<section class="news section mt-1">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<h3>Associer <span class="alternate">un Artiste à un Événement</span></h3>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-8 col-10 m-auto">
				
        <div class="mb-3">
          <label for="event" class="form-label">Événement Sélectionné</label>
          <select id="event" class="form-select" [(ngModel)]="selectedEventId" [disabled]="!!selectedEventId">
            <option *ngFor="let event of events" [value]="event.id" [selected]="event.id === selectedEventId">
              {{ event.label }}
            </option>
          </select>
        </div>
      
        <div class="mb-3">
          <label for="artist" class="form-label">Sélectionnez un Artiste</label>
          <select id="artist" class="form-select" [(ngModel)]="selectedArtistId">
            <option *ngFor="let artist of artists" [value]="artist.id">{{ artist.label }}</option>
          </select>
        </div>
        <button class="btn btn-primary" (click)="associateArtistToEvent()">Associer</button>
			
      </div>
		</div>
	</div>
</section>

