.main-nav {
  background: #fff;
}

.main-nav .navbar-brand {
  padding: 15px 20px 20px 30px;
  border-right: 1px solid #e5e5e5;
}

@media (max-width: 1024px) {
  .main-nav .navbar-brand {
    padding: 20px 30px;
  }
}

@media (max-width: 767px) {
  .main-nav .navbar-brand {
    border-right: none;
  }
}

.main-nav .navbar-nav .nav-item {
  position: relative;
  font-family: "Roboto", sans-serif;
}

.main-nav .navbar-nav .nav-item .nav-link {
  position: relative;
  text-align: center;
  color: #222222;
  padding-left: 8px;
  padding-right: 20px;
  font-size: 1.06rem;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 1024px) {
  .main-nav .navbar-nav .nav-item .nav-link {
    font-size: 0.875rem;
  }
}

.main-nav .navbar-nav .nav-item .nav-link span {
  color: #222222;
  margin-left: 20px;
}

@media (max-width: 1024px) {
  .main-nav .navbar-nav .nav-item .nav-link span {
    margin-left: 10px;
  }
}

.main-nav .navbar-nav .nav-item.active .nav-link {
  color: #ff6600;
}

.main-nav .dropdown-slide {
  position: static;
}

.main-nav .dropdown-slide .open > a, .main-nav .dropdown-slide .open > a:focus, .main-nav .dropdown-slide .open > a:hover {
  background: transparent;
}

.main-nav .dropdown-slide.full-width .dropdown-menu {
  left: 0 !important;
  right: 0 !important;
}

.main-nav .dropdown-slide:hover .dropdown-menu {
  border-top: 3px solid #ff6600;
  display: none;
  opacity: 1;
  display: block;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
  visibility: visible;
  color: #777;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

@media (max-width: 767px) {
  .main-nav .dropdown-slide:hover .dropdown-menu {
    -webkit-transform: none;
    transform: none;
    left: auto;
    position: relative;
    text-align: center;
  }
}

.main-nav .dropdown-slide .dropdown-menu {
  min-width: 220px;
  margin-top: 0;
  border-radius: 0;
  opacity: 1;
  visibility: visible;
  position: absolute;
  padding: 5px 15px;
  border: 1px solid #ebebeb;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: .3s all;
  position: absolute;
  display: block;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  transition: visibility 0.2s, opacity 0.2s, -webkit-transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
  transition: visibility 0.2s, opacity 0.2s, transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
  transition: visibility 0.2s, opacity 0.2s, transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99), -webkit-transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
}

.main-nav .dropdown-slide .dropdown-menu .dropdown-item {
  font-size: 15px;
  padding: 10px 0;
  transition: .3s ease;
}

.main-nav .dropdown-slide .dropdown-menu .dropdown-item:not(:last-child) {
  border-bottom: 1px solid #e5e5e5;
}

.main-nav .dropdown-slide .dropdown-menu .dropdown-item:hover {
  background: #fff;
  color: #ff6600;
}

@media (max-width: 480px) {
  .main-nav .dropdown-slide .dropdown-menu {
    -webkit-transform: none;
    transform: none;
  }
}

.main-nav .ticket {
  background: #ff6600;
  display: block;
  padding: 34px 32px;
}

@media (max-width: 1024px) {
  .main-nav .ticket {
    padding: 23px 14px;
  }
}

.main-nav .ticket img {
  margin-right: 25px;
}

@media (max-width: 1024px) {
  .main-nav .ticket img {
    display: none;
  }
}

.main-nav .ticket span {
  color: #fff;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  border-left: 1px solid #ffa366;
  padding-left: 24px;
}

@media (max-width: 1024px) {
  .main-nav .ticket span {
    padding-left: 0;
    font-size: 1rem;
    border-left: none;
  }
}

.navbar-toggler:focus, .navbar-toggler:hover {
  outline: none;
}
