<nav class="navbar main-nav border-less fixed-top navbar-expand-lg p-0">
  <div class="container-fluid p-0">
    <!-- logo -->
    <a class="navbar-brand" routerLink="/">
      <img src="assets/images/logo.png" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item dropdown active dropdown-slide">
          <a class="nav-link" routerLink="/"  data-toggle="dropdown">Accueil
            <span>/</span>
          </a>
        </li>
        <li class="nav-item dropdown dropdown-slide">
          <a class="nav-link" routerLink="/events" data-toggle="dropdown">Events<span>/</span></a>
          <!-- Dropdown list -->
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/events">Les Events</a>
            <a class="dropdown-item" routerLink="/addEvent">Ajouter</a>
          </div>
        </li>
        <li class="nav-item dropdown dropdown-slide">
          <a class="nav-link" routerLink="/artists" data-toggle="dropdown">Artists<span>/</span></a>
          <!-- Dropdown list -->
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/artists">Les artistes</a>
            <a class="dropdown-item" routerLink="/addArtist">Ajouter</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
